@font-face {
    font-family: CenturyGothic;
    src: url(../fonts/century-gothic.ttf);
    font-weight: normal;
}
@font-face {
    font-family: CenturyGothic;
    src: url(../fonts/century-gothic-bold.ttf);
    font-weight: bold;
}
body{
  font-family: CenturyGothic, sans-serif;
}
button:focus {outline:0;}
/*Font colors*/
.pink {
  color: #EE566F;
}
.blue {
  color: #29408C;
}
/*Each page is a section, which ocupied the whole page view*/
.section {
  height: 100vh !important;
}
div.words.inactive{
  -webkit-transition: all 0.5s  ;
  -moz-transition: all 0.5s ;
  -o-transition: all 0.5s ;
  transition: all 0.5s ;
  opacity: 0;
  /*-webkit-transform: translate3d(0px, -100px, 0px);*/
/*  -moz-transform: translate3d(0px, -100px, 0px);
  -ms-transform:translate3d(0px, -100px, 0px);
  transform: translate3d(0px, -100px, 0px);*/

}
div.words.active{
  -webkit-transition: all 0.7s ease-in-out 0.5s;
  -moz-transition: all 0.7s ease-in-out 0.5s;
  -o-transition: all 0.7s ease-in-out 0.5s;
  transition: all 0.7s ease-in-out 0.5s;
  opacity: 1;
/*  -webkit-transform: translate3d(0px, 0, 0px);
  -moz-transform: translate3d(0px, 0, 0px);
  -ms-transform:translate3d(0px, 0, 0px);
  transform: translate3d(0px, 0, 0px);*/
}
img.screenshot.inactive{
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
/*  -webkit-transform: translate3d(0px, +100px, 0px);
  -moz-transform: translate3d(0px, +100px, 0px);
  -ms-transform:translate3d(0px, +100px, 0px);
  transform: translate3d(0px, +100px, 0px);*/
}
img.screenshot.active{
  -webkit-transition: all 0.7s ease-in-out 0.5s;
  -moz-transition: all 0.7s ease-in-out 0.5s;
  -o-transition: all 0.7s ease-in-out 0.5s;
  transition: all 0.7s ease-in-out 0.5s;
  opacity: 1;
/*    -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform:translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);*/
}

#section0 {
  padding: 0;
  margin:0;
  height: 100vh;
  background-image: url("../img/BGimage.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

#section0 div.logo img{
  padding-top: 50px;
  width: 100px;
}

#section0 div.headline{
  margin:0;
  text-align: left;
  padding-top: 30vh;
}

#section0 div.headline h1{
  font-size: 5rem;
  font-weight: 700;
}
#section0 div.headline h3{
  font-size: 1.6rem;
  font-weight: 700;
}

#section0 button {
  width:60px;
  border-radius: 100px;
  height: 60px;
  background: white;
  color: black;
  border: 0;
  box-shadow: 10px 10px 30px #b6b6b6;
  text-align: center;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
}

/*Right div Styles in product sections*/
div.productImage{
  padding:0;
  margin:0;
  height: 100vh;
  background-image:url("../img/1productImage.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

img.blurb {
  width: 100%;
  height: auto;
}
/*Left div is product description for each product*/
div.productDescription{
  padding: 0;
  margin:0;
}
div.words{
  text-align: left;
  margin-top: 10%;
}

h1 {
  font-weight: 700;
  color: black;
}

h4 {
  font-family: 'Share Tech Mono', monospace;
  color: black;
  font-size: 1.5rem;
  text-decoration: none;
  opacity: 0.2;
  text-transform: uppercase;
  /*font-weight: 700;*/
}

hr{
  width: 60px;
  border: 3px solid black;
  opacity: 0.2;
  margin-top: 0;
  margin-left: 0;
}

h1.productName{
  color: black;
  letter-spacing: -0.4px;
  margin-top: 0;
}

div.hashtag{
  font-family: 'Share Tech Mono', monospace;
  margin-top: 60px;
}

div.footer h4.paragraph{
  font-family: 'Share Tech Mono', monospace;
  margin-top: 60px;
  text-transform: none;
  opacity: 1;
  letter-spacing: -0.3px;
  font-size: 1.5rem;
  text-align: left;
  line-height: 3rem;
  padding-left: 30px;
}

div.footer h6{
  color:black; 
  font-weight: 700;
  position: relative;
  bottom: 10px;
}

img.arrow{
  margin-top: 30px;
  width: 30px;
  height: auto;
  margin-left: 30%;
  fill: #D4D4D4;
}
button.CTA {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 8px;
  min-height: 60px;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  width: 240px;
  margin-top: 20px;
  margin-bottom: 10%;
  box-shadow: 10px 10px 30px #C8C8C8;
  transition-duration: 0.3s;
}

button.CTA:hover {
  transform: translateY(-8px);
  letter-spacing: 2px;
  font-weight: 700;
  color: white;
}

div.productImage img.screenshot {
  width:90%;
  height: auto;
  padding-left: 10%;
  margin-top: 15%;
}

#footer {
  bottom: 0px;
}

#footer {
}

/* fp navigation */
#fp-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 17px;
}
#fp-nav.left {
    left: 17px;
}
.fp-slidesNav{
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.fp-slidesNav.bottom {
    bottom: 17px;
}
.fp-slidesNav.top {
    top: 17px;
}
#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0;
}
#fp-nav ul li,
.fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fp-slidesNav ul li {
    display: inline-block;
}
#fp-nav ul li a,
.fp-slidesNav ul li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
    height: 12px;
    width: 12px;
    margin: -6px 0 0 -6px;
    border-radius: 100%;
 }
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    height: 4px;
    width: 4px;
    border: 0;
    background: #333;
    left: 50%;
    top: 50%;
    margin: -2px 0 0 -2px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
    width: 10px;
    height: 10px;
    margin: -5px 0px 0px -5px;
}
#fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #000;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0;
    cursor: pointer;
}
#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1;
}
#fp-nav ul li .fp-tooltip.right {
    right: 20px;
}
#fp-nav ul li .fp-tooltip.left {
    left: 20px;
}


/*Mobile Optimization*/
@media only screen and (min-device-width : 320px) and (max-device-width : 1024px) {
    hr{
      width: 160px;
      border: 3px solid black;
      opacity: 0.2;
      margin-top: 0;
      margin-left: 0;
    }
    #section0 div.headline h1{
      font-size: 8rem;
    }
    #section0 div.headline h3{
      font-size: 4rem;
      font-weight: 700;
    }
    h1{
        font-size:8rem;
    }

    h3{
        font-size:7rem;
    }

    h4.number{
        font-family: 'Share Tech Mono', monospace;
        font-size: 6rem;
    }
    #section0 button {
      width: 150px;
      height: 150px;
      position: relative;
      margin-top: 220px;
    }

    #section0 button i.fa.fa-chevron-down{
      font-size: 5rem;
    }

    button.CTA {
      background-color: black;
      color: white;
      border: 0;
      border-radius: 8px;
      font-size: 4rem;
      letter-spacing: 2px;
      font-weight: 700;
      text-align: center;
      width: 500px;
      padding-left: 40px;
      padding-right: 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-top: 20px;
      margin-bottom: 10%;
      box-shadow: 10px 10px 30px #C8C8C8;
      transition-duration: 0.3s;
    }

    div.productImage{
      display: none;
    }

    div.productDescription{
      background: cover;
    }

    div.footer h4.paragraph{
      font-family: 'Share Tech Mono', monospace;
      margin-top: 60px;
      text-transform: none;
      color: black;
      opacity: 1;
      letter-spacing: -0.3px;
      font-size: 5rem;
      text-align: left;
      line-height: 5rem;
      padding-left: 60px;
    }


    div.footer h6{
      color:black; 
      /*font-weight: 700;*/
      font-size: 3rem;
      position: relative;
      bottom: 0px;
    }
}