@font-face {
    font-family: CenturyGothic;
    src: url(century-gothic.ttf);
    font-weight: normal;
}
@font-face {
    font-family: CenturyGothic;
    src: url(century-gothic-bold.ttf);
    font-weight: bold;
}
body{
  font-family: CenturyGothic, sans-serif;
}

/*Font colors*/
.pink {
  color: #EE566F;
}
.blue {
  color: #29408C;
}
/*Each page is a section, which ocupied the whole page view*/
.section {
  height: 100vh;
}

#section0 {
  padding: 0;
  margin:0;
  height: 100vh;
  background-image: url("../img/BGimage.svg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; 
}

#section0 div.logo img{
  padding-top: 20px;
  padding-left: 150px;
  width: 250px;
}

#section0 div.headline{
  margin:0;
  text-align: center;
  padding-top: 30vh;
}

#section0 div.headline h1{
  font-size: 5rem;
}

#section0 button {
  width:60px;
  border-radius: 100px;
  height: 60px;
  background: white;
  color: black;
  border: 0;
  box-shadow: 10px 10px 30px #b6b6b6;
  text-align: center;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/*Right div Styles in product sections*/
div.productImage{
  padding:0;
  margin:0;
  height: 100vh;
  background-image:url("../img/1productImage.svg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

img.blurb {
  width: 100%;
  height: auto;
}
/*Left div is product description for each product*/
div.productDescription{
  padding: 0;
  margin:0;
}
div.words{
  text-align: left;
  margin-top: 10%;
}

h1 {
  font-weight: 700;
  color: black;
}

h1.number{
  color: black;
  text-decoration: none;
  border-bottom: 5px solid black;
}

h1.productName{
  color: black;
  letter-spacing: -0.4px;
  margin-top: 0;
}

div.hashtag{
  font-family: 'Share Tech Mono', monospace;
  margin-top: 60px;
}

img.arrow{
  margin-top: 30px;
  width: 30px;
  height: auto;
  margin-left: 30%;
  fill: #D4D4D4;
}
button.CTA {
  background-color: black;
  color: white;
  border: 0;
  border-radius: 8px;
  height: 60px;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
  width: 100%;
  max-width: 240px;
  margin-top: 20px;
  margin-bottom: 10%;
  box-shadow: 10px 10px 30px #C8C8C8;
  transition-duration: 0.3s;
}
button.CTA:hover {
  transform: translateY(-8px);
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 700;
}

/*div.productImage.col-xs-12 img.screenshot {
  width:100%;
  padding:0;
  height: auto;
  margin-top: 30%;
}

div.productImage.col-sm-12 img.screenshot {
  width:90%;
  padding-left:10%;
  height: auto;
  margin-top: 30%;
}
*/
div.productImage img.screenshot {
  width:90%;
  height: auto;
  padding-left: 10%;
  margin-top: 15%;
}


/*@media (min-width: 300px) and (-webkit-min-device-pixel-ratio: 3){
  div.productImage img.screenshot {
    width:100%;
    padding: 0;
    height: auto;
    margin-top: 10%;
  }
/*  div.productImage{
    min-height: 1200px;
  }*/
}*/

